body {

  background-image: linear-gradient(120deg,#7b89d1, #8cdbd3);

  color: #222;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.calculator {
  background-color: #2C3643;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  padding: 0px;
  width: 300px;
  min-height: 430px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  background-color: #1e272e;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 0px;
  text-align: right;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.display .operation {
  font-size: 1rem;
  color: #888;
  margin-bottom: 10px;
}

.display .number {
  font-size: 2rem;
  font-weight: 300;
  word-wrap: break-word;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;


}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px; /* Espacio entre botones */
  background-color: #1e272e; /* Línea divisoria */

}

.buttons button {
  padding: 20px;
  font-size: 1.4rem;
  background-color: #2C3643;
  color: #888;
  border: none; /* Quitamos bordes */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttons button:hover {
  background-color: #3A4654;
}

/* Colores blancos */
button.number,
button.pi,
button.decimal {
  color: white;
}

/* C = rojo */
button.clear {
  color: #ff5252;
}

/* = en rojo */
button.operation:last-child {
  color: #FF5252;
}
